body{
   margin: 0;
   padding: 0;
   background-color: #E5E5E5;
   font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1120px;
    width: 70%;
}

/*================================================
=== Header / Menu area Section Code Start Here ===
================================================ */


#header_area{
    padding: 15px 0;
    background-color: #562EFF;
}
.top_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_area{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.logo_area img{
    width: 40px;
    height: 51px;
}
.logo_area .logo_txt{
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.main_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu_area li{
    display: inline-block;
    margin-right: 25px;
    
}
.menu_area li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;

}
.user_area img{
    width: 51px;
    height: 51px;
    border-radius: 50%;
}

/*================================================
=== Header / Menu area Section Code End Here ===
================================================ */

/*=====================================
=== Top Player Section Code Start Here ===
======================================= */


.top_section_area,
.letest_course_section{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 25px #d1d1d1;
    padding: 30px 40px;
    margin-top: 20px;
}
.top_player_section .blog_title h1,
.top_blog_section .blog_title h1,
.letest_course_section .blog_title h1{
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
   
}
.top_player_section .player_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 10px;
}
.player{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3,
.blog_info h3{
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin-left: 10px;
}
.hr_bar hr{
    margin: 20px 0;
    border: 1px solid #d1d1d1;
}
/*=====================================
=== Top Player Section Code End Here ===
======================================= */


/*===================================
=== Top Blog Section Code Start Here ===
===================================== */
.main_blog_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 26px;
}
.blog_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.blog_items .banner_area img{
    width: 224px;
    height: 127px;
}
.blog_info p{
    margin-left: 10px;
    color: #9F9F9F;
    font-size: 16px;
}
.blog_info p a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/*===================================
=== Top Blog Section Code End Here ===
===================================== */

/*=========================================
===Latest Course Section Code Start Here===
========================================== */

.course_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}
.course_items .course_banner img{
    width: 224px;
    height: 104px;
}
.course_info h3{
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 500;
}
.course_info p{
    font-size: 14px;
    color: #9F9F9F;
}
.course_info p a{
    color: #ED6B4F;
    text-decoration: none;
}
.course_rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.rating_area li,
.timer_area li{
    list-style: none;
    display: inline-block;
}
.rating_area .filled_color{
    color: #FFC014;
}
.rating_area .empty_color,
.rating_area span{
    color: #AEAEAE;
}
.timer_area li i{
    background-color: #FEE5DF;
    color: #FF4A60;
    padding: 8px;
    border-radius: 25px;
}
/*========================================
=== Latest Course Section Code End Here===
========================================== */

/*========================================
=== Footer Section Code Start Here========
========================================== */
.footer_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
}
.footer_section .txt_area p{
    font-size: 16px;
    color: #9F9F9F;
}
.footer_section .txt_area p a{
    text-decoration: none;
    color: #ED6B4F;
    transition: 0.3s ease-in-out;
}
.footer_section .txt_area a:hover{
    color: #562EFF;
}


/*========================================
=== Footer Section Code End Here==========
========================================== */

